.a1{
    color:chartreuse;
}
.a2{
    color:lightcoral;
}
.a3{
    font-size: larger;
    color:red;
}
.a4{
    font-size: larger;
    color:blue;
}
.a5{
    font-size: larger;
    color:green;
}
.b1{
    background-image: url(./OIP\ \(1\).jpg);
}
.b2{
    color:white;
}
